@model WattsALoan1.Models.Employee

@{
    ViewBag.Title = "Employee Details";
}

<h2 class="bold text-center common-font wheat">Employee Details</h2>

<hr />

<div class="containment">
    <dl class="dl-horizontal common-font wheat">
        <dt>@Html.DisplayNameFor(model => model.EmployeeId)</dt>
        <dd>@Html.DisplayFor(model => model.EmployeeId)</dd>

        <dt>@Html.DisplayNameFor(model => model.EmployeeNumber)</dt>
        <dd>@Html.DisplayFor(model => model.EmployeeNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>@Html.DisplayNameFor(model => model.EmploymentTitle)</dt>
        <dd>@Html.DisplayFor(model => model.EmploymentTitle)</dd>
    </dl>
</div>

<p class="text-center">
    @Html.ActionLink("Edit Employee Details", "Edit", new { id = Model.EmployeeId }, htmlAttributes: new { @class = "wal-lead" }) |
    @Html.ActionLink("Employees", "Index", null, htmlAttributes: new { @class = "wal-lead" })
</p>