@model WattsALoan1.Models.Payment

@{
    ViewBag.Title = "Payment Details";
}

<h2 class="bold text-center common-font wheat">Payment Details</h2>

<hr />

<div class="containment">
    <dl class="dl-horizontal common-font wheat">
        <dt>@Html.DisplayNameFor(model => model.PaymentId)</dt>
        <dd>@Html.DisplayFor(model => model.PaymentId)</dd>

        <dt>Processed By</dt>
        <dd>@Html.DisplayFor(model => model.Employee.Identification)</dd>

        <dt>Loan Details</dt>
        <dd>@Html.DisplayFor(model => model.LoanContract.Identification)</dd>

        <dt>@Html.DisplayNameFor(model => model.ReceiptNumber)</dt>
        <dd>@Html.DisplayFor(model => model.ReceiptNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.PaymentDate)</dt>
        <dd>@ViewData["PaymentDate"]</dd>


        <dt>@Html.DisplayNameFor(model => model.PaymentAmount)</dt>
        <dd>@Html.DisplayFor(model => model.PaymentAmount)</dd>

        <dt>@Html.DisplayNameFor(model => model.Balance)</dt>
        <dd>@Html.DisplayFor(model => model.Balance)</dd>
    </dl>
</div>

<p class="text-center">
    @Html.ActionLink("Edit this Loan Payment", "Edit", new { id = Model.PaymentId }, htmlAttributes: new { @class = "wal-lead" }) |
    @Html.ActionLink("Loans Payments", "Index", null, htmlAttributes: new { @class = "wal-lead" })
</p>