@model WattsALoan1.Models.LoanContract

@{
    ViewBag.Title = "Delete Loan Contract";
}

<h2 class="bold common-font text-center wheat">Delete Loan Contract</h2>

<hr />

<h3 class="common-font wheat text-center">Are you sure you want to delete this?</h3>

<div class="containment">
    <dl class="dl-horizontal common-font wheat">
        <dt>@Html.DisplayNameFor(model => model.LoanContractId)</dt>
        <dd>@Html.DisplayFor(model => model.LoanContractId)</dd>
        <dt>Processed By</dt>
        <dd>@Html.DisplayFor(model => model.Employee.Identification)</dd>
        <dt>@Html.DisplayNameFor(model => model.LoanNumber)</dt>
        <dd>@Html.DisplayFor(model => model.LoanNumber)</dd>
        <dt>@Html.DisplayNameFor(model => model.DateAllocated)</dt>
        <dd>@ViewData["DateAllocated"]</dd>
        <dt>@Html.DisplayNameFor(model => model.CustomerFirstName)</dt>
        <dd>@Html.DisplayFor(model => model.CustomerFirstName)</dd>
        <dt>@Html.DisplayNameFor(model => model.CustomerLastName)</dt>
        <dd>@Html.DisplayFor(model => model.CustomerLastName)</dd>
        <dt>@Html.DisplayNameFor(model => model.LoanType)</dt>
        <dd>@Html.DisplayFor(model => model.LoanType)</dd>
        <dt>@Html.DisplayNameFor(model => model.LoanAmount)</dt>
        <dd>@Html.DisplayFor(model => model.LoanAmount)</dd>
        <dt>@Html.DisplayNameFor(model => model.InterestRate)</dt>
        <dd>@Html.DisplayFor(model => model.InterestRate)</dd>
        <dt>@Html.DisplayNameFor(model => model.Periods)</dt>
        <dd>@Html.DisplayFor(model => model.Periods)</dd>
        <dt>@Html.DisplayNameFor(model => model.MonthlyPayment)</dt>
        <dd>@Html.DisplayFor(model => model.MonthlyPayment)</dd>
        <dt>@Html.DisplayNameFor(model => model.FutureValue)</dt>
        <dd>@Html.DisplayFor(model => model.FutureValue)</dd>
        <dt>@Html.DisplayNameFor(model => model.InterestAmount)</dt>
        <dd>@Html.DisplayFor(model => model.InterestAmount)</dd>
        <dt>@Html.DisplayNameFor(model => model.PaymentStartDate)</dt>
        <dd>@ViewData["PaymentStartDate"]</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete this Loan Contract" class="btn btn-warning" /> ::
            @Html.ActionLink("Loans Contracts", "Index", null, htmlAttributes: new { @class = "wal-lead" })
        </div>
    }
</div>