@model WattsALoan1.Models.LoanContract

@{
    ViewBag.Title = "Loan Contract Details";
}

<h2 class="bold text-center common-font wheat">Loan Contract Details</h2>

<hr />

<div class="containment">
    <dl class="dl-horizontal common-font wheat">
        <dt>@Html.DisplayNameFor(model => model.LoanContractId)</dt>
        <dd>@Html.DisplayFor(model => model.LoanContractId)</dd>

        <dt>Processed By</dt>
        <dd>@Html.DisplayFor(model => model.Employee.Identification)</dd>

        <dt>@Html.DisplayNameFor(model => model.LoanNumber)</dt>
        <dd>@Html.DisplayFor(model => model.LoanNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.DateAllocated)</dt>
        <dd>@ViewData["DateAllocated"]</dd>

        <dt>@Html.DisplayNameFor(model => model.CustomerFirstName)</dt>
        <dd>@Html.DisplayFor(model => model.CustomerFirstName)</dd>

        <dt>@Html.DisplayNameFor(model => model.CustomerLastName)</dt>
        <dd>@Html.DisplayFor(model => model.CustomerLastName)</dd>

        <dt>@Html.DisplayNameFor(model => model.LoanType)</dt>
        <dd>@Html.DisplayFor(model => model.LoanType)</dd>

        <dt>@Html.DisplayNameFor(model => model.LoanAmount)</dt>
        <dd>@Html.DisplayFor(model => model.LoanAmount)</dd>

        <dt>@Html.DisplayNameFor(model => model.InterestRate)</dt>
        <dd>@Html.DisplayFor(model => model.InterestRate)</dd>

        <dt>@Html.DisplayNameFor(model => model.Periods)</dt>
        <dd>@Html.DisplayFor(model => model.Periods)</dd>

        <dt>@Html.DisplayNameFor(model => model.MonthlyPayment)</dt>
        <dd>@Html.DisplayFor(model => model.MonthlyPayment)</dd>

        <dt>@Html.DisplayNameFor(model => model.FutureValue)</dt>
        <dd>@Html.DisplayFor(model => model.FutureValue)</dd>

        <dt>@Html.DisplayNameFor(model => model.InterestAmount)</dt>
        <dd>@Html.DisplayFor(model => model.InterestAmount)</dd>

        <dt>@Html.DisplayNameFor(model => model.PaymentStartDate)</dt>
        <dd>@ViewData["PaymentStartDate"]</dd>
    </dl>
</div>

<p class="text-center">
    @Html.ActionLink("Edit this Loan Contract", "Edit", new { id = Model.LoanContractId }, htmlAttributes: new { @class = "wal-lead" }) ::
    @Html.ActionLink("Loans Contracts", "Index", null, htmlAttributes: new { @class = "wal-lead" })
</p>